/* input[type=checkbox] {
  display: none;
  background-color: red;
} */
:root {
    --sable: #F9F4EA;
    --info: #2AA2B8;
    --gray: #C6C4C2;
}
.dash {
    background-color: white;
    box-shadow: 1px 0px 5px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: 1px 0px 5px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 0px 5px 2px rgba(0,0,0,0.1);
}

.bg-sable {
  background-color: var(--sable);

}

input[type=checkbox]:checked ~ p {
  text-decoration:line-through;
  font-style: italic;
  opacity: 0.5;
}
input[type=checkbox]:checked ~ .right_btn button.do-now{ 
  opacity: 0;
  height: 0;
  display: none;
  /* height: 32px; */
  /* border: 2px, solid, red; */
}

.btn-done {
  background-color: var(--info);
}

.btn-not-done {
  background-color: var(--gray);
}

