 /* RESET */
 body {
    margin: 0
 }
 li{
   list-style: none;
 }
 ul{
   padding: 0;
 }
 /* HEADER */

 /* .header-container {
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
 } */

.logo{
    width: 86px;
    height: 40px;
}

 /* FORMS (SignIn & SignUp */

.lock-background{
    width: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    background:#9c27b0;
    height: 40px;
    margin: auto;
}
.signIn-container{
    text-align: center;
    margin-top: 1rem;
}
.signIn-Links{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    color: #0288d1;
    margin-bottom: 4rem;
}

.signUp-name-surname-inputs {
    display: flex;
    gap: 10px;
}
 /* HOME */

 

 /* FOOTER */

footer {
   background-color: #343434;
   color: #fff;
   padding: 2rem 0rem 2rem 0rem;
}

.footer-container {
   max-width: 1250px;
   margin: auto;
   display: flex;
   flex-wrap: wrap;
   /* padding: 0 2rem; */
   justify-content: space-around;
}

.footer-item {
   max-width: 300px;
}

footer ul {
   display: flex;
   gap: 3px;
   padding: 0;
}

footer li a {
   text-decoration: none;
   color: white;
}

address {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

address a {
   text-decoration: none;
}

.footer-adress {
   color: blue;
}

.footer-tel {
   color: #fff;
}

footer p a {
   color: #fff;
}

footer p {
   color: #7c7e80;
}

footer h3 {
   font-style: italic;
   margin-top: 0;
}

.footer-social {
   color: white;
   margin: 0 5px;
}

/* HOME LIST */

/* .home-list {
padding: 0;
} */

.home-list li {
margin: auto;
max-width: 345px;
}

@media only screen and (min-width: 600px) {
.home-list {
   display: flex;
   flex-wrap: wrap;
   }
}

/* TOYS DETAILS */

.planning-day {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 1rem;
}

@media only screen and (min-width: 600px) {
   .planning-day {
      display: flex;
      flex-direction: column;
      }
   .planning-day div {
      display: flex;
      flex-direction: column;
      gap: 5px;
   }
   .planning-week {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 2%;
   }
   }